.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 88%;
  margin: auto;
  padding-top: 24px;
}

::ng-deep .mat-button-toggle-label-content {
  padding: 0 20px !important;
}

::ng-deep .mat-button-toggle-button {
  font-size: 18px !important;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #ffd54f;
  color: #000000;
}

.button-row {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
